<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  <title>Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
  {{ partialCached "head/css.html" . }}
</head>
<body>
  <header>
    <h1><a href="{{ .Site.BaseURL }}">{{ site.Title }}</a></h1>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
